<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shu.xyj.secdkill.mapper.SecdkillOrderMapper">

    <resultMap id="SecdkillOrder" type="shu.xyj.secdkill.pojo.SecdkillOrder">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
    </resultMap>

    <select id="findSecdkillOrderByUserAndGoods" resultMap="SecdkillOrder">
        select * from t_secdkill_order where user_id = #{userId} and goods_id = #{goodsId}
    </select>

    <insert id="insert" parameterType="shu.xyj.secdkill.pojo.SecdkillOrder">
        insert into t_secdkill_order(user_id, order_id, goods_id)
        values (#{userId}, #{orderId}, #{goodsId})
    </insert>
</mapper>