<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shu.xyj.secdkill.mapper.SecdkillGoodsMapper">

    <resultMap id="SecdkillGoods" type="shu.xyj.secdkill.pojo.SecdkillGoods">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="secdkill_price" property="secdkillPrice" />
        <result column="stock_count" property="stockCount" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
    </resultMap>

    <select id="findSecdkillGoodsByGoodsId" resultMap="SecdkillGoods">
        select * from t_secdkill_goods where goods_id = #{id}
    </select>

    <update id="updateById" parameterType="shu.xyj.secdkill.pojo.SecdkillGoods">
        update t_secdkill_goods
        set  stock_count = #{stockCount}
        where id = #{id}
    </update>

    <update id="updateByIdIfStockExist" parameterType="shu.xyj.secdkill.pojo.SecdkillGoods">
        update t_secdkill_goods
        set  stock_count = #{stockCount}
        where id = #{id} and stock_count > 0
    </update>
</mapper>